.topbarContainer {
    position: sticky;
    top: 0;
    height: 10vh;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
}

.walletOption a{
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    
}

a:hover {
    color: whitesmoke;
}